{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "corejs": 3,
          "modules": false,
          "targets": {
            "browsers": [">0.2%", "not dead", "not op_mini all"]
          }
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-syntax-dynamic-import"
    ],
    "env": {
      "production": {
        "plugins": [
          ["transform-remove-console", { "exclude": ["error", "warn"] }]
        ]
      }
    }
  }